* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 25px auto;
    font-size: 16px;
  }
  
  input::placeholder {
    font-size: 16px;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
    justify-content: center;
    gap: 25px;
    margin: 10px auto
  }
