body {
padding: 25px;    
}


body{
padding: 25px;    
}

.gallery {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width:85%;
    max-width:900px; 
    margin: 10px auto;
  }





.container img{
height: auto;
width: 100%;
margin-bottom: 25px;

}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
    font-size: 16px;
}
input:placeholder{
font-size: 16px;



}

img {
    width: 100%;
   }
@media screen and (min-width:768px) {
    .gallery {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        width:85%;
        max-width:900px; 
        margin: 10px auto;
      }
      .container a {

        width: 45%;
        text-align: center;
      }
      .input-div{

text-align: center;

      }
      input{
 max-width: 500px;

      }
     


      
      
}
@media  screen and (min-width:1024px) {
    body{
        max-width: 1350px;
        margin: auto;
    }
    
    .container a {


      width:100%;
    }
    
}
.container img{
height: auto;
width: 100%;
margin-bottom: 25px;

}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
    font-size: 16px;
}
input:placeholder{
font-size: 16px;



}

img {
    width: 100%;
   }

